@import "modal";

body {
  font-family: sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid black 2px;
}

th,
td {
  padding: 10px;
}

th {
  background: black;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

td {
  text-transform: capitalize;
}

tr {
  cursor: pointer;
}

tr:nth-child(even) {
  background: transparentize($color: peachpuff, $amount: 0.6);
}

tr:hover {
  background: transparentize($color: peachpuff, $amount: 0.4);
}

.pagination-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: black;
    padding: 10px;
    border: solid black 2px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.red {
  background-color: red;
}

a {
  text-decoration: none;
  color: inherit;
}
