<table>

<thead>
  <tr>
    <th>ID</th>
    <th>Move</th>
    <th>Power</th>
    <th>PP</th>
    <th>Accuracy</th>
    <th>Type</th>
    <th>Damage Class</th>
  </tr>
</thead>

<tbody>

{{#each model as |move|}}
  {{move-row move=move boop=(action "test")}}
{{/each}}
</tbody>


</table>
